@import url("./base/reset.css");
@import url("./base/variables.css");
@import url("./base/animations.css");
/* Layout  */
@import url("./layout/app-layout.css");
@import url("./layout/sidebar.css");
@import url("./layout/navbar.css");
@import url("./layout/grid.css");
@import url("./layout/responsive.css");
/* Components  */
@import url("./components/cards.css");
@import url("./components/charts.css");
@import url("./components/widgets.css");
@import url("./components/buttons.css");
@import url("./components/modals.css");
@import url("./components/forms.css");
@import url("./components/loaders.css");
/* ==========================================
   TOP PAGES
========================================== */
.top-pages-list {
    display: flex;
    flex-direction: column;
    gap: 14px;
}
.top-page-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    border-bottom:
        1px solid var(--glass)
        ;
}
.top-page-name {
    color:
        white;
}
.top-page-views {
    color:
        var(--cyan);
    font-weight: 700;
}